
.spA{
    height: 300px;
    background: #b0abab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.together{
    display: flex;
}

.spB{
    height: 250px;
    width: 1390px;
    background: #b0abab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.CDE{
    height: 300px;
    width: 450px;
    margin: 10px;
    background: #b0abab;
    display: flex;
    justify-content: center;
    align-items: center;

}

.CDE1 {
    display: flex;
}

.spF{
    height: 570px;
    width: 450px;
    margin: 10px;
    background: #b0abab;
    display: flex;
    justify-content: center;
    align-items: center;
}