body{
    background: dodgerblue;
}
.colums{
    display: flex;
    justify-content: center;
}

.boxI{
    height: 250px;
    width: 620px;
    background: white;
    border-radius: 14px;
    margin: 50px 30px 10px;
}

.boxII{
    height: 250px;
    width: 620px;
    background: white;
    border-radius: 14px;
    margin: 50px 30px 10px;
}