.container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

.target1 {
    background: #2e40a8;
    height: 200px;
}

.target2 {
    background: #090f36;
    height: 100px;
}

.target3 {
    background: rgba(22, 225, 232, 0.64);
    float: left;
    height: 550px;
    width: 1600px;
}

.target4 {
    background: #b690d3;
    height: 550px;
}

.target5 {
    background: #36776d;
    height: 70px;
}