.container {
    border: 10px solid #e07f3e;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
}
.target1 {
    border: 7px solid #090f36;
    background: #858484;
    height: 100px;
}
.wrap {
    position: relative;
    display: flex;
}

.wrap2 {
    flex-direction: column;

}

.target2 {
    align-items: stretch;
    float: left;
    border: 7px solid #fccf00;
    background: #858484;
    height: 714px;
    width: 300px;
}

.target3 {
    border: 7px solid rgba(180, 0, 255, 0.64);
    background: rgb(133, 132, 132);
    height: 350px;
    width: 1495px;
}

.target4 {
    border: 57x solid #ff051d;
    background: rgba(22, 225, 232, 0.64);
    height: 350px;
    width: 1495px;
    justify-content: flex-end;
    margin: -10 px;

}

.target5 {
    border: 7px solid rgb(255, 5, 29);
    background: #858484;
    height: 70px;
}