.container {
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
}
.target1 {
    background: #858484;
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap {
    position: relative;
    display: flex;

}

.wrap2 {
    flex-direction: column;


}

.target2 {
    float: left;
    background: #b2d3b2;
    height: 714px;
    width: 300px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target3 {
    background: rgb(232, 149, 149);
    height: 350px;
    width: 1495px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.target4 {
    background: rgba(151, 212, 215, 0.64);
    height: 350px;
    width: 1495px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.target5 {
    background: #9ee09e;
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}