.greybox{
    background: silver;
    height: 300px;
    width: 500px;
    margin: 50px;
    box-shadow: #ceac6c -16px -19px 44px;
}

.vl {
    border-left: 6px solid red;
    height: 230px;
    margin-left: 50px;
}

.less2{
    display: flex;
}
.txt{
    margin-left: 10px;
    font-size: larger;

}