.greybox{
    background: silver;
    height: 300px;
    width: 500px;
    margin: 50px;
    box-shadow: #ceac6c -16px -19px 44px;
}

.frame{
    width: 400px;
    height: 150px;
    margin-left: 50px;
    border: 3px solid white;
    border-left-color: red;
    font-size: 16px;
    text-align:left;
    padding-left: 4px;
    overflow: hidden;

    
}
